body {
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
}

.admin {
  background-color: rgb(61, 62, 68);
}

.container {
  max-width: 50%;
  margin: 50px auto;
}

textarea {
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(216, 216, 216);
  top: 100px;
  padding: 0 20px;
  background-color: transparent;
  color: rgb(231, 231, 231);
  font-family: monospace;
  font-size: 10pt;
  border: 0;
  outline: none;
}

textarea.error {
  color: rgb(218, 73, 73);
}

input[type="text"].error {
  border: 1px solid rgb(218, 73, 73);
  background-color: #FFE4E9;
}

.center {
  text-align: center;
}

.clear {
  overflow: auto;
}

.header {
  background-color: rgb(37, 37, 37);
  clear: both;
  overflow: auto;
  color: rgb(242, 242, 242);
  padding: 0 30px;
  box-shadow: 1px 1px 0px rgb(26, 28, 29);
  -moz-box-shadow: 1px 1px 0px rgb(26, 28, 29);
  -webkit-box-shadow: 1px 1px 0px rgb(26, 28, 29);
}

.header .btn {
  margin: 20px 20px 0 0;
}

a {
	text-decoration: none;
	color: rgb(0, 158, 255);
}

h1 {
  float: left;
}

input[type="submit"], .btn.login {
  position: fixed;
  top: calc(100% - 50px);
  left: 13px;
  background: rgb(0, 148, 255);
  border: none;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  font-size: 12pt;
}

input[type="submit"].error {
  background-color: rgb(218, 73, 73);
}

.btn {
  background-color: rgb(61, 62, 68);
  border: none;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  font-size: 12pt;
}

.btn:hover {
	filter: brightness(108%);
	-moz-filter: brightness(108%);
	-webkit-filter: brightness(108%);
	cursor: pointer;
}

.collection {
  display: block;
  margin: 20px;
  font-size: 14pt;
  color: white;
  box-shadow: 1px 1px 0px rgb(26, 28, 29);
  -moz-box-shadow: 1px 1px 0px rgb(26, 28, 29);
  -webkit-box-shadow: 1px 1px 0px rgb(26, 28, 29);
}

.collection .btn {
  margin: 0;
  background-color: rgb(37, 37, 37);
  width: calc(100% - 100px);
  display: block;
  box-sizing: border-box;
  float: left;
}

.collection .btn.delete {
  background-color: rgb(195, 63, 63);
  margin: 0;
  width: 100px;
}

.msg {
	position: absolute;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  padding: 10px 15px;
  box-sizing: border-box;
  top: 20px;
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.fail {
  text-align: center;
  color: #FF7A7A;
}

.saved {
  background-color: rgb(34, 190, 89);
}

.msg.error {
  background-color: rgb(218, 73, 73);
}

.form {
  padding: 2em;
  text-align: center;
}

.admin p {
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

input[type="text"], input[type="password"] {
  padding: 11px 10px;
  background-color: rgb(203, 203, 203);
  border: 1px solid black;
  color: rgb(56, 56, 56);
  border-radius: 4px;
  font-size: 13px;
}

.name {
  margin: 20px 20px 0 0;
}