{{include partials/head}}

<div class="header">

	<h1 class="left">Data</h1>

	<a class="btn right" href="/logout">Log out</a>

	{{if userRole === 'admin'}}
		<a class="btn right" id="new-user">+ Add User</a>
	{{endif}}

	<a class="btn right saved" id="new-file">+ Add File</a>

	<input type="text" class="input right name" placeholder="new file">

</div>

{{for collection in collections}}
	
	<div class="collection clear">
		<a class="btn" href="/admin/{{collection}}">{{collection}}</a>
		<span class="btn delete right" data-collection="{{collection}}">Delete</span>
	</div>

{{endfor}}

<script>

	var $ = function(selector) {
		return [].slice.call(document.querySelectorAll(selector));
	};

	$('#new-file')[0].addEventListener('click', function() {
        location.href = '/admin/new/' + $('.input')[0].value.replace(/\.json$/i, '');
    });

    $('#new-user')[0].addEventListener('click', function() {
        location.href = '/admin/new-user';
    });

    $('.delete').forEach(function(el) {
    	el.addEventListener('click', function(e) {
    		e.stopPropagation();
    		if (confirm('Are you sure you want to permanently delete ' + el.getAttribute('data-collection') + '.json?')) {
	    		location.href = '/admin/delete/' + el.getAttribute('data-collection');
	    	}
    	});
    });

</script>

</body>

</html>