{{include partials/head}}

<div class="header">

	<h1 class="left">Data</h1>

	<a class="btn right" href="/logout">Log out</a>

	<a class="btn new right saved">+ Add</a>

	<input type="text" class="input right name" placeholder="name">

</div>

{{for collection in collections}}

	<a class="btn collection" href="/admin/{{collection}}">{{collection}}</a>

{{endfor}}

<script>

	document.querySelector('.new').addEventListener('click', function() {
        location.href = '/admin/new/' + document.querySelector('.input').value.replace(/\.json$/i, '');
    });

</script>

</body>

</html>