{{include partials/head}}

<div class="header">
    
    <h1>Protein - {{collection}}</h1>

    {{if saved}}
        <div class="msg saved">Saved!</div>
    {{endif}}

    {{if error}}
        <div class="msg error">{{error}}</div>
    {{endif}}

    <a class="btn back" href="/admin">Back</a>

</div>

<form action="/admin/{{collection}}" method="post">

	<textarea name="json" width="100%" height="100%">{{json | safe  }}</textarea>

	<input class="btn" type="submit" value="save" />

</form>

<script>

    var textarea = document.getElementsByTagName('textarea');

    textarea[0].addEventListener('keyup', function() {
        try {
            JSON.parse(textarea[0].value);
            textarea[0].classList.remove('error');
        } catch(err) {
            console.error(err);
            textarea[0].classList.add('error');
        }
    });

</script>

</body>

</html>