{{include partials/head}}

<style type="text/css">
    textarea {
    	  left: 0;
		  position: absolute;
		  width: 100%;
		  height: 50%;
		  border: 0;
		  box-sizing: border-box;
		  border-bottom: 1px solid rgb(216, 216, 216);
		  top: 100px;
    }
    a {
    	float: right;
    	padding: 20px;
    }
    h1 {
    	float: left;
    }
    input {
   		position: fixed;
	  	top: calc(100% - 30px);
	  	left: 13px;
    }
</style>

<h1>Protein - {{collection}}</h1>

<a href="/admin">Back</a>

<form action="/admin/{{collection}}" method="post">

	<textarea name="json" width="100%" height="100%">{{json}}</textarea>

	<input type="submit" value="save" />

</form>

</body>

</html>