{{include partials/head}}

    <h3>A tiny MVC framework for Node</h3>

    <h4>Given this route:</h4>

    <div>'/index': {<br>
        stuff: {<br>
            things: ['apples', 'oranges', 'bananas']<br>
        },<br>
        show: true<br>
    }</div>

    <h4>... this template:</h4>

    &lcub;&lcub;if show&rcub;&rcub;<br><br>

        &lt;ul&gt;<br><br>
        &lcub;&lcub;for stuff.things as thing&rcub;&rcub;<br><br>
            &lt;li&gt;I like &lcub;&lcub;thing&rcub;&rcub;!&lt;/li&gt;<br><br>
        &lcub;&lcub;endfor&rcub;&rcub;<br><br>
        &lt;/ul&gt;<br><br>

    &lcub;&lcub;endif&rcub;&rcub;<br><br>

    &lt;div&gt;2 * 4 = &lcub;&lcub; 2 * 4 &rcub;&rcub;&lt;/div&gt;<br><br>

    <h4>... renders this:</h4>

    {{if show}}

        <ul>
        {{for stuff.things as thing}}
            <li>I like {{thing}}!</li>
        {{endfor}}
        </ul>

    {{endif}}

    <div>2 * 4 = {{ 2 * 4 }}</div>

{{include partials/footer}}