{{include partials/head}}

<div class="header">

	<h1>Login</h1>

</div>

{{ if tooManyAttempts }}
	<p class="fail">Too many failed login attempts. Try later.</p>
{{ else }}
	<form action="/login?from={{from}}" method="post" class="form">

		{{ if failed }}
			<p class="fail">Wrong.</p>
		{{ endif }}

		{{ if multipleAttempts }}
			<p class="fail">You will be temporarily blocked after 5 failed login attempts.</p>
		{{ endif }}

		<input type="hidden" name="token" value="{{token}}">

		<p>Email</p>
		<input name="email" type="text"><br>

		<p>Password</p>
		<input name="password" type="password">

		<input type="submit" value="log in">

	</form>
{{ endif }}

<script>

	var $ = function(selector) {
		return [].slice.call(document.querySelectorAll(selector))[0];
	};

	if ($('[name="email"]')) {
		$('[name="email"]').focus();
	}

</script>

</body>

</html>