{{include partials/head}}

<div class="header">

	<h1>Login</h1>

</div>

<form action="/login?from={{from}}" method="post" class="form">

	{{ if failed }}
	<p class="fail">Wrong.</p>
	{{ endif }}

	<input type="hidden" name="token" value="{{token}}">

	<p>Username</p>
	<input name="username" type="text"><br>

	<p>Password</p>
	<input name="password" type="password">

	<input type="submit" value="log in">

</form>

<script>

	var $ = function(selector) {
		return [].slice.call(document.querySelectorAll(selector))[0];
	};

	$('[name="username"]').focus();

</script>

</body>

</html>